* {
   font-size: 40px;
   list-style: none;
   padding: 0;
   margin: 0;
   text-decoration: none;
}

.wrap {
   height: 100dvh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.tasks {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
